//reqiures header 3

//header 1
.ks-header-1 {
    @media (min-width: 991px) {
        border-top: 1px solid #ccc;
    }

    #top_menu_collapse {
        width: 100%;
    }

    .container {
        flex-wrap: wrap;
        position: relative;
    }

    .navbar-brand  {
       @media (min-width: 991px) {
           margin: -80px auto 10px;
       }

       img {
            width: auto !important;
            height: 60px !important;
            object-fit: contain;
       }
    }

    &-container {
        .container {
            max-width: 1400px;
            padding: 0px;
            @media(max-width: 1200px) and (min-width: 575px){
                width: 90%;
            }
        }
    }

    @media (min-width: 991px) {
        .mega_submenu {
            padding-top: 7px;
        }

        .ks_not_mega_menu {
            box-shadow: none !important;
            padding: 0px 7px !important;
            background: transparent;
            top: 0;

            li {
                background: white;
                box-shadow: 0px 13px 12px 1px rgba(0, 0, 0, 0.45);

                &:first-child {
                   margin-top: 30px;
                   padding-top: 10px;
                }

                &:last-child {
                    padding-bottom: 10px;
                }
            }
        }
    }
    &-topmost {
        z-index: 1030;

        .search_container {
            > form {
                @media (min-width: 991px) {
                   padding: 10px 0;
                }
            }
        }
    }

    #top_menu > .nav-item {
        > .dropdown-menu {
            background: transparent;
        }
    }
}

.affixed {
    .ks-header-1 {
        .navbar-brand  {
            margin: 0;

           img {
                height: auto !important;
           }

           @media (min-width: 991px) {
                display: none;
           }
        }

        #top_menu {
            .nav-item {
                margin-bottom: 0;
            }
        }
    }
}

.ks-header-1-topmost {
    > .col-sm-6.col-10 {
        padding: 0;
    }

    .ks-header-3-search {
        padding: 0;

        @media (max-width: 990px) {
           transform: translateX(12px);
           z-index: 10;
        }

       .search-query {
            margin-right: 0;
       }

        .oe_search_button {
            right: 12px !important;
        }
    }

    @media (max-width: 990px) {
        + .o_affix_enabled {
           .ks-header-1-container {
                width: 100%;
                margin: auto;
                box-shadow: none;
                padding: 0 10px 10px 20px !important;

                @media(max-width: 767px){
                    padding: 0 20px 10px !important;
                }
           }

           .navbar-toggler {
                padding-right: 0;
           }
        }
    }

    @media (max-width: 330px) {
         //padding: 0 10px !important;

         + .o_affix_enabled {
             .ks-header-1-container {
                //padding: 10px 10px !important;
             }
         }
    }
}