.ks-header-2 {
    &-top {
        background: $dark-color;
        position: relative;

        #top-nav {
            > li {
                order: -1;
                border-right: none;
                > .col {
                    > a {
                       color: $header-2-top-color !important;
                    }
                }
            }
        }

        .top__links {
            order: 1 !important;

            &.lang_dropdown {
                order: 0 !important;
                margin-right: 0 !important;
            }
            a:not(.dropdown-item),
            label {
                color: $header-2-top-color !important;
            }
        }



        @media (max-width: 540px) {
            #top-nav .lang_dropdown .dropdown-menu {
                width: auto;
                border: 1px solid rgba(0, 0, 0, 0.15) !important;
            }
        }

        .top__links {

            > a {
                display: flex;
                height: 100%;
                width: 100%;
                justify-content: center;
                align-items: center;
            }

            > .js_language_selector {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }

    @media (max-width: 990px) {
        .remove_after_content {
            padding: 0;
        }

        .ks-header-2-menu-icon {
            padding: 6px 0;
           // max-width: calc(100% - 34px);
            z-index: 1;
        }
    }

    .search_container {

        margin: 8px 0;

        .easy-autocomplete {
            width: auto !important;
        }

        input {
            width: 350px;
            height: 45px;
            background: #f7f7f7;
            margin-right: 10px;
            @media(max-width: 991px){
                margin-right: 0px;
            }
            max-width: 100%;
        }

        button.btn.oe_search_button {
            position: absolute;
            font-size: 24px;
            right: 21px;
            background: transparent;
            padding: 0;
            line-height: 1;
            top: 8px;
            z-index: 101;

            @media (max-width: 991px) {
                right: 10px;
            }
            @media (max-width: 575px) {
                right: 10px;
            }
        }
    }

    #my_cart_2 {
        .ml-4 {
            margin-left: 0 !important;
            margin-top: -1px;
            font-size: 24px;
        }
    }

    .badge {
        top: -6px;
        right: -14px;
    }


    #my_wish {
        margin: 0 1rem;


        .nav-link {
            position: relative;
            padding: 0;
        }

        .badge {
           top: -4px;
        }
    }

    .ks-search-container-2 {
        position: relative;
        z-index: 99;

        .oe_search_button {
            right: auto;
            left: 313px;

            @media (max-width: 768px) {
                left: auto;
                right: 0;
            }

            @media (max-width: 540px) {
                right: 10px;
            }

        }



        @media (max-width: 768px) {
            input {
                width: 300px;
                transform: scaleX(0);
                transition: 0.3s ease;
                transform-origin: right;
                margin-right: -15px;
            }

        }

    }


    &-top-social {
        font-size: 18px;

        a {
            color: $header-2-top-color;
        }
    }

    &-menu-icon {
        position: relative;
        z-index: 10000;

        @media (max-width: 990px) {
            padding: 5px 20px;
        }

        .js_usermenu {
            left: auto !important;
            right: auto;
        }
    }

    &-main {
        #top_menu {
            margin: auto !important;
            min-width: 100%;
            justify-content: space-between;
        }

        #top_menu_collapse .nav-item .dropdown-menu {
            top: auto !important;
            transform: none !important;
        }

        &.header-4-main {
            @media (max-width: 990px) {
                #top_menu {
                    padding-bottom: 10px;

                    .submenu_lvl_1 {
                        margin-top: 10px;
                    }
                }

                .ks-search-container-2 {
                    z-index: 101;
                }

                .navbar-toggler {
                    z-index: 80;
                }
            }
        }

        @media (max-width: 990px) {
            position: absolute;
            right: 0;
            margin-top: -32px;
            width: 100%;
            text-align: right;
            padding: 4px 0;

            .container {
                max-width: 90%;
            }

            .navbar-toggler {
                margin-top: 0;
                margin-right: 0px;

                @media (max-width: 575px) {
                    // margin-right: 0px;
                }
            }

            .navbar-collapse {
                margin-bottom: -4px;

                #top_menu {
                    flex-direction: column;
                    text-align: left;
                    margin-top: 12px;
                    background: $white;
                    box-shadow: 0 19px 38px rgba(0,0,0,0.30),
                                0 15px 12px rgba(0,0,0,0.22);
                    position: relative;
                    z-index: 10;
                    padding-bottom: 10px;

                    li {
                        width: 100% !important;
                    }

                    .submenu_link_item {
                        img {
                            display: none;
                        }
                    }
                }
            }
        }

         #top_menu_collapse .nav-item .dropdown-menu.ks_not_mega_menu,
         #top_menu_collapse_clone .nav-item .dropdown-menu.ks_not_mega_menu {
            @media (min-width: 991px) {
                box-shadow: none !important;
                padding: 0px 7px !important;
                background: transparent;
                top: 0 !important;

                li {
                    background: white;
                    box-shadow: 0px 13px 12px 1px rgba(0, 0, 0, 0.45);

                    &:first-child {
                       margin-top: 23px;
                       padding-top: 10px;
                    }

                    &:last-child {
                        padding-bottom: 10px;
                    }
                }
            }
         }
    }

    ~ main {
        .ks-furniture-hero {
            .carousel-inner {
                max-height: calc(90vh - 150px);
            }
        }
    }

    @media (min-width: 991px) {
        .search_container:not(.ks-search-container-7) {
            justify-content: center !important;
        }
    }

    @media (min-width: 991px) and (max-width: 1200px) {
        .search_container {
            flex: 0 0 50%;
            max-width: 50%;
        }

        &-menu-icon:not(.ks-header-7-menu-icon) {
            flex: 0 0 25%;
            max-width: 25%;

            span.d-none.d-sm-inline {
                display: none !important;
            }

            > div {
                padding: 0;
            }

        }
    }

    &-topmost {
        .ks_top_menu {
            .dropdown-menu {
                z-index: 1050;
            }
        }

        .col-xl-4.col-lg-3.col-6 {
            padding: 0;
            align-items: center;
            display: flex;
        }

        .ks-header-2-menu-icon {
            padding: 0;
        }

        @media (max-width: 990px) {
            .ks-header-2-menu-icon  {
                z-index: 1040;
                max-width: calc(100% - 20px);
                margin-top: 10px;
            }

            + .o_affix_enabled {
                .ks-header-2-main {
                    background: white;
                }
            }

            .row.container-lg.m-auto {
                .search_container.ks-search-position{
                    form {
                      margin-right: -25px;
                    }
                }
            }
        }

        #my_wish {
            padding-top: 3px;

            .my_wish_quantity {
                top: -7px;
            }
        }
    }
}

.ks-header-2-top-inside {
    ul {
        margin: 6px 0;
    }
    .ks-header-2-top-social {
        text-align: right;

         @media (max-width: 768px) {
             text-align: center;
         }
    }

    @media (max-width: 768px) {
        .ks_top_menu {
            justify-content: center;
        }
    }
}

.ks-search-position {
    z-index: 10000 !important;
}

.affixed {
    .ks-header-2-main {
        margin-top: 0;
        background: $white;
    }
}
@media (max-width: 575px) {
    .ks-header-2-top {
        >  .container-lg {
            display: none;
        }
    }
}
