//requires header-2
.ks-header-7 {
    border-color: #eee !important;

    #top_menu {
       justify-content: center;

       > .nav-item {
            padding: 5px;

            @media (min-width: 991px) {
                border-left: 1px solid #eee;
            }

            &:first-child {
                border-left: 0;
            }
       }
    }

    &-menu-icon {
        @media (max-width: 990px) {
            background: transparent;
            z-index: auto !important;
        }
    }

    @media (max-width: 990px) {
        margin-top: -30px;
        background: $white;

        &-menus-inside {
            z-index: 10000;
            position: relative;
            margin-right: 120px;
            margin-top: -12px;
        }

        .navbar-collapse {
            margin-top: -3px;
        }
    }

    &-topmost {
       #my_wish .badge {
           top: -5px !important;
       }

       .col-xl-4.col-lg-3.col-12,
       .ks-header-7-menu-icon {
           padding: 0;
       }

       .col-xl-4.col-lg-3.col-12 {
            padding: 10px 0;
            display: flex;
            align-items: center;

            @media (max-width: 990px) {
                justify-content: center;
                padding: 5px 0;
                margin-bottom: -3px;
            }
       }

       .navbar-brand {
            margin: 0 !important;
       }

       .ks-header-2-top-social {
            margin: 4px 0 !important;
       }

       @media (max-width: 990px) {
            .search_container button.btn.oe_search_button {
                right: 21px;
            }

            + .o_affix_enabled {
                .ks-header-7 {
                    .container {
                        max-width: 90%;
                    }

                    #top_menu {
                        box-shadow: none ;
                    }
                }
            }
       }

       @media (max-width: 575px) {
           .ks-header-7-menus-inside {
              margin-right: 50px;
           }
       }

       @media (max-width: 370px) {
           .ks-header-7-menus-inside {
              margin-right: 30px;
           }

           #my_wish {
                margin-left: 20px;
           }

           .remove_after_content {
                margin-left: 5px;
           }
       }
    }
}

.search-container-7 {
    @media (max-width: 990px) {
        margin-top: 0 !important;
        margin-bottom: 22px !important;

        input {
            background: #fff !important;
        }
    }

    @media (max-width: 575px) {
        margin-bottom: 12px !important;

        .easy-autocomplete {
            max-width: 280px;
            margin-bottom: 10px;
        }
    }
}

.affixed {
   .ks-header-7 {
        margin-top: 0;
        background: white;
        box-shadow: 0px 3px 7px 2px rgba(0, 0, 0, 0.36);
   }

}

.js-change-indexes-h7 {
    .ks-header-7-menus-inside {
        z-index: auto !important;
    }

    .o_affix_enabled {
       z-index: 1;
    }
}

@media (max-width: 575px) {
    .ks-header-7-topmost {
        .container-lg {
            width: 100%;
        }
    }

    .ks-header-7 {
        .navbar-toggler {
            margin-right: 0;
        }
    }
}