.ks_filp_hover_effect{
    .ks_filp_hover_element {
        transition: all 0.7s;
    }

    &:after {
        content: '';
        position: absolute;
        width: 0px !important;
    }
    .ks_text_line {
        position: relative;
        display: block;

        &:after {
            content: '';
            position: absolute;
            width: 0;
            border-bottom: 2px solid $primary;
            bottom: -1px;
            left: 30%;
            transition: all 0.5s;
        }
    }
}
.ks_menu_heading {
    position: relative;
    font-size: 18px;
    color: #0f0f0f;
    padding-bottom: 0 !important;

    &:before {
        content: '';
        bottom: -11px !important;
        background: $primary !important;
        top: unset !important;
    }
    &:after {
        content: '';
        bottom: -13px !important;
        top: unset !important;
        background: $primary !important;
    }
}
.ks-custom-slid {
    height: 200px !important;
}
.ks-inner-container {
    max-height: 200px !important;
    height: 100% !important;

}
.ks-slid-image {
    width: 100% !important;
    height: 100% !important;
    height: 200px !important;
    animation: scale_movedown 0.3s cubic-bezier(0, 0.92, 0, 0.96) !important;
    transform-origin:center !important;

}

.ks_image_hover_transition{
    transition: 0.5s;
    transform: scale(1);
    margin-top: 10px;

    &:hover {
        transform: scale(1.1);
    }
}

//temporary
.submenu_main_links {
    max-width: 1400px;
    margin: auto;
}
//till here

#top_menu_collapse #myTab .nav-item,
#top_menu_collapse_clone #myTab .nav-item {
    position: relative !important;
}
.ks_vertical_tabs {
    display: flex;

    @media (max-width: 575px) {
        margin-left: -20px;
    }

    > .nav-tabs {
        flex-direction: column;
        border-bottom: none;

        @media (min-width: 991px) {
            min-width: 25%;
            border-right: 1px solid #ccc;
        }

        @media (max-width: 990px) {
            border-right: 1px solid #dee2e6;
            padding-right: 20px;
        }

         .nav-item {

           @media (min-width: 991px) {
               display: flex;
               align-items: center;

           }

           .ks-mega-menu-tab-img {
              width: 35px;
              height: 35px;
              margin-bottom: 0;
              margin-right: 10px;
              display: none;

              @media (max-width: 990px) {
                display: none;
              }
           }
        }

        .nav-link {
            margin-bottom: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            border-right: 2px solid transparent;
            min-height: 50px;
            display: flex;
            align-items: center;

            &.active {
                @media (min-width: 991px) {
                    background: lighten($primary ,5%);
                    color: $theme-text-color !important;
                    border-radius: 0;
                    border-right: 2px solid darken($primary ,10%);
                }

                &:before {
                    content: '';

                    @media (max-width: 990px) {
                        display: inline-block;
                        width: 0;
                        height: 0;
                        margin-left: 0.255em;
                        vertical-align: 0.255em;
                        content: "";
                        border-top: 0.3em solid;
                        border-right: 0.3em solid transparent;
                        border-bottom: 0;
                        border-left: 0.3em solid transparent;
                        position: absolute;
                        right: -10px;
                        top: calc(50% - 2px);
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }

    .tab-content {
        width: 100%;

        > .active {
            display: flex;
        }

        .tab-pane {
            .submenu_inside {
                padding: 20px 30px;

                @media (max-width: 990px) {
                    padding: 10px 30px;
                    width: 100%;
                }

                > a {
                    @media (min-width: 990px) {
                        font-size: 1.2em;
                        padding-bottom: 5px;
                        margin-bottom: 10px;
                        font-weight: 600;
                        position: relative;
                        display: inline-block;

                        &:after {
                            content: '';
                            display: block;
                            border-bottom: 2px solid $primary;
                            width: 0;
                            transition: 0.2s ease-in-out;
                            position: absolute;
                            left: 30%;
                        }

                        &:hover {
                            &:after {
                                width: 40%;
                            }
                        }
                    }
                }

                li.mb-2 {
                    text-align: left;
                    margin-top: 10px;

                    a {
                        text-transform: capitalize;
                    }

                    @media (max-width: 990px) {
                        display:none;
                    }

                }

                @media (min-width: 1025px) {
                   &:hover {
                      > a {
                          color: $primary !important;

                           &:after {
                               width: 40%;
                           }
                      }
                   }
                }
            }
        }
    }

    .nav-link {
        border: none ;
        margin-bottom: 0;
    }
}

.menu-slider {
    > div:nth-child(2) {
        overflow: hidden;
        margin-top: 10px;
        margin-bottom: 10px;

        img {
            margin-top: 0 ;
        }
    }

    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%22000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

   .w-100.text-center {
     position: relative;
     padding: 10px;

     &:after,
     &:before {
        content: '';
        position: absolute;
        border: 3px solid red;
        width: 20px;
        height: 20px;
        transition: 0.3s ease-in-out;
     }

     &:before {
       border-color: transparent $primary $primary transparent;
       right: 0;
       bottom: 0;
     }

     &:after {
        border-color:  $primary transparent transparent $primary ;
        left: 0;
        top: 0;
     }
   }

   &:hover {
      .w-100.text-center {
           &:after {
               border-color: $primary $primary transparent transparent;
               right: 0;
               top: 0;
               left: auto;
           }

           &:before {
                border-color:  transparent transparent $primary $primary;
                left: 0;
                top: auto;
                bottom: 0;
           }
      }
   }
}

.submenu_main_links {
    a {
        transition: 0.2s ease-in-out;

        @media (min-width: 991px) {
            &:hover {
                color: $primary !important;
            }
        }
    }

    li.mb-2 {
        a {
            position: relative;

            &:after {
                content: '';
                display: block !important;
                position: absolute;
                left: 30%;
                bottom: -2px;
                width: 0;
                border-top: 1px solid $primary;
                transition: 0.2s ease-in-out;
            }

            &:hover {
                &:after {
                    width: 40%;
                }
            }
        }
    }
}

.font-20 {
    font-size: 20px !important;
}

.submenu_lvl_1 {
    @media (min-width: 1025px) {
        &:hover{
            .ks_filp_hover_element {
                transform: rotateY(180deg);
            }

            > .submenu_link_item {
                 .ks_text_line {
                    color: $primary;

                    &:after {
                        content: '';
                        width: 40%;
                    }
                 }
            }
        }
    }
}