@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    text-rendering: geometricPrecision;
    font-smooth: always;


    @media (max-width: 1024px) {
        -webkit-overflow-scrolling: touch;
    }

}

.form-control:focus {
    border-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 9px 0px #cacaca !important;
}

a {
    color: $black;

    &:hover {
        text-decoration: none;
        color: $black;
    }
}

button:focus {
    outline: none;
}

input:focus,
textarea:focus {
    outline-color: $theme-color-main !important;
}

img {
    max-width: 100%;
}

.cursor-pointer,
button {
    cursor: pointer;
}

.theme-btn {
    background: $btn-primary;
    color: $text-color;
    text-align: center;
    font-weight: $weight-semi-bold;
    font-size: $font14;
    border-radius: $btn-radius;
    transition: 0.3s ease-in-out;
    border-color: $btn-border-color;
    @extend .cursor-pointer;

    &:hover {
        background: $hover-background;
        color: $hover-text-color;
        border-color: $hover-border-color;
    }
}

.theme__heading {
    letter-spacing: 1.03px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin: auto;
    font-size: 30px;
    text-shadow: 1px 4px 2px rgba(0, 0, 0, 0.12);
    padding-bottom: 20px;

    &:before {
        content: '';
        position: absolute;
        width: 100px;
        height: 3px;
        background: $theme-color-main;
        bottom: 8px;
        left: calc(50% - 50px);
        box-shadow: 1px 7px 7px 0px rgba(0, 0, 0, 0.27);
    }

    &:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 8px;
        background: $theme-color-main;
        bottom: 5px;
        left: calc(50% - 10px);
        border-radius: 3px;
        box-shadow: 1px 7px 7px rgba(0, 0, 0, 0.1);
    }

    @media (max-width: 768px) {
        font-size: 24px;
    }
}

.theme__btn-2 {
    color: $black;
    border: 1px solid currentColor;
    padding: 5px 25px;
    font-size: $font18;
    font-weight: $weight-medium;
    letter-spacing: 0.27;
    transition: 0.2s ease-in-out;
    background: $white;

    @media (max-width: 768px) {
        font-size: 12px;
        padding: 5px 20px;
    }
}

.theme__btn-2.active,
.theme__btn-2:hover {
    background: $black;
    color: $white;
}

.theme__dropdown {
    button {
        border: 1px solid #C1C1C1;
        border-radius: $theme-radius;
        width: 220px;
        text-align: left;
        padding-left: 20px;
        font-weight: $weight-medium;
        background: transparent;

        .active {
            font-weight: $weight-semi-bold;

        }

        &:after {
            display: none;
        }

        &:focus {
            box-shadow: none;

        }

        .dropdown-icon {
            right: 15px;
            top: 11px;
        }

        .dropdown-menu {
            width: 100%;
            top: -2px !important;
        }
    }
}

.ks_container_1 {
    max-width: 1360px;
}


.col_2 {
    width: 20%;
}

.box__shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.50);
    transition: 0.2s ease-in-out;

    &:hover {
        box-shadow: -1px 7px 12px rgba(0, 0, 0, 0.18), -1px 6px 10px rgba(0, 0, 0, 0.12);
    }
}

@media (max-width: 768px) {
    .mobile_row {
        flex-wrap: nowrap;
        overflow: scroll;
    }
}

@media (max-width: 540px) {

    .sm-no-animations {

        div,
        a {
            animation: none !important;
            transition: none !important;
        }
    }

    .mobile__row__sm {
        flex-wrap: nowrap;
        overflow: scroll;
    }
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: $weight-semi-bold;
}

.ks-scroll-top {
    font-size: 20px;
    border-radius: 50%;
    background: $primary;
    color: $theme-text-color;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    cursor: pointer;
    z-index: 10000;
    transition: 0.2s ease-in-out;
    
    @media (max-width: 540px) {
        width: 45px;
        height: 45px !important;
        font-size: 16px;
        right: 10px;
    }

    .fa {
        margin-top: -1px;
    }

    &:hover {
        background: $theme-text-color;
        color: $primary;
        transform: rotate(360deg);
        border: 2px solid $primary;
    }
}

.ks-loader-outer {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: $primary;
    z-index: 10000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .loader {
      width: 100px;
      height: 100px;
      border-radius: 100%;
      position: relative;
      margin: 0 auto;
    }

    #loader-3:before,
    #loader-3:after {
      content: "";
      width: 20px;
      height: 20px;
      position: absolute;
      top: 0;
      left: calc(50% - 10px);
      background-color: $theme-text-color;
      animation: squaremove 1s ease-in-out infinite;
    }

    #loader-3:after{
      bottom: 0;
      animation-delay: 0.5s;
    }
}

.breadcrumb {
    background-color: #f2f2f2;
}
ol.breadcrumb .breadcrumb-item {
    display: flex;
}

.w-max-content {
    width: max-content;
}