.submenu,
.cart__list__container {
    @extend .d__none;
    position: absolute;
    z-index: 41;
}

nav {
    .navbar-nav {
        .nav-item {
            &:hover {
                .submenu {
                    @extend .d__block;
                    left: 50%;
                    transform: translateX(-50%);
                }

            }

            .theme__nav {
                font-weight: $weight-semi-bold;
                color: $black;
                letter-spacing: 1.35;
                font-size: 15px;
            }

        }

    }



    .nav__icons {
        color: $dark-grey;
        font-size: $font24;
        z-index: 30;
        @extend .cursor-pointer;
    }

    .nav__search {
        input {
            width: 370px !important;
            height: 45px;
            background: #f7f7f7;
        }

        ::placeholder {
            color: #928F8F;
            letter-spacing: 1.35;
            font-weight: $weight-medium;
            font-size: $font14;
            padding-left: 10px;
        }

        .nav__search_icon {
            position: absolute;
            font-size: $font24;
            right: 20px;
        }

    }

    .submenu__inner {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30),
                    0 15px 12px rgba(0,0,0,0.22);
        width: auto;

        @media (min-width: 991px) {
            animation: moveup 0.3s ease-in-out forwards;
        }

        .submenu_side_links {
            background: $light-grey;

            a {
                font-size: $font14;
                color: $black;
                letter-spacing: 0.89px;
                font-weight: $weight-semi-bold;
            }

        }

        .submenu_main_links {
            li {
                a {
                    @media (min-width: 991px) {
                        text-transform: uppercase;
                        color: $black;
                        font-size: $font14;
                        font-weight: $weight-semi-bold;
                        letter-spacing: 0.89px;
                    }

                    margin-bottom: 8px;

                }

                .submenu_inside {
                    li {
                        a {
                            font-weight: $weight-regular;
                            text-transform: capitalize;

                            &:after {
                                display: none;
                            }

                            &:hover {
                                font-weight: $weight-medium;
                                color: $theme-color-main;
                            }
                        }
                    }
                }
            }
        }

        .submenu_img {
            img {
                object-fit: cover;
                transform-origin: top;
                transition: 0.3s ease-in-out;
            }

        }

    }

}

.cart__info {
    &:hover {
        .cart__list__container {
            @extend .d__block;
        }

    }

    .cart__count {
        width: 20px;
        height: 20px;
        background: $theme-color-main;
        font-size: $font10;
        top: -8px;
        right: -12px;
        color: $black;
    }

}

.cart__list {
    width: 400px;
    right: -45px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.20);

    &:before,
    &:after {
        content: '';
        position: absolute;
        border-color: transparent;
        border-style: solid;
        border-width: 18px 9px;
        border-bottom-color: rgba(213, 218, 223, 0.38);
        right: 48px;
        top: -39px;
    }

    &:after {
        border-bottom-color: white;
        top: -36px;
    }
}

.cart-outer {
    max-height: 280px;
    overflow-y: scroll;
}

.product_img {
    img {
        width: 60px;
    }

}

.product__name {
    font-size: $font12;
    font-weight: $weight-semi-bold;
    color: $dark-grey;
    width: 75%;
}

.product__price {
    font-size: $font12;
    color: $black;
    width: 25%;
}

.product__remove {
    font-size: $font20;
    width: 25%;
}

.product__qty {
    width: 75%;

    .qty__switch {
        width: fit-content;
        width: -moz-fit-content;
        font-size: $font12;
    }

}


.cart__total {
    font-size: $font14;
    font-weight: $weight-semi-bold;
    color: $black;
}


.search__in {
    &:before {
        content: '';
        position: absolute;
        background: $white;
        width: 100%;
        height: 100%;
    }

    #search-bar {
        transform: scaleX(1);
    }

}

.navbar {
    .nav-item {
        width: auto;

        .dropdown-menu {
            padding: 0;
            border: none;
        }

        .submenu__inner {
            margin-top: -16px;

            @media (max-width: 990px) {
                width: auto;
                border-top: none;
                box-shadow: none;

                .submenu_link_item {
                   img {
                     display: none;
                   }
                }
            }
        }
    }

    @media (max-width: 990px) {
        margin-top: 0;
    }

    @media (max-width: 540px) {
        padding: 0 10px;
    }
}

#top_menu_collapse,
#top_menu_collapse_clone {
    justify-content: space-around;

    @media (max-width: 990px) {
        align-items: baseline;
        text-align: left !important;
        width: 100%;
    }

    @media (max-width: 540px) {
        min-width: auto;
    }

    .nav-item {
        position: initial !important;

        .dropdown-menu:not(.js_usermenu) {


            .submenu__inner {
                margin-top: -22px;

                @media (max-width: 990px) {
                    border-top: none;
                    box-shadow: none;
                    max-width: calc(100vw - 36px);
                    margin-top: -20px;
                    background-image: none !important;

                }
            }

            @media (min-width: 991px) {
                left: 10px !important;
                width: calc(100% - 20px);
            }

            @media (max-width: 990px) {
                left: unset !important;
                border: none;
                border-radius: 0;
                position: relative !important;

                .submenu_main_links {
                    ul {
                        flex-direction: column;
                    }
                }
            }
        }
    }

    .fp__img {
        img {
            object-fit: contain !important;
            max-width: 310px;
            max-height: 250px;
        }
    }

    .submenu_img {
        font-weight: $weight-semi-bold;
    }
}

#top_menu_collapse_clone,
#top_menu_collapse {
    @media (max-width: 990px) {
        .nav-item {
            .dropdown-menu {
                left: unset !important;
                border: none;
                border-radius: 0;
                position: relative !important;
                top: auto !important;
                transform: none !important;
            }
        } 
    }
}
