.action_btns {
    button {
        font-size: $font16;
        padding: 5px 25px;
        font-weight: $weight-medium;
        text-transform: uppercase;
        span {
            @extend .d__block;
            margin-top: 2px;
        }
    }

    .cart__btn {
        border: none;
        transition: 0.2s ease-in-out;
        &:hover {
            background: $black;
            color: $white;
        }
    }
}
    
.thumb__img {
    width: 100px;
    height: 100px;
    opacity: 0.5;
    overflow: hidden;
    @extend .cursor-pointer;
    img {
        height: 100%;
        object-fit: cover;
    }
}
    
    
.thumb__img.active {
    opacity: 1;
    border: 1px solid #ccc;
}
    
.product__name {
    font-weight: $weight-semi-bold;
    font-size: $font24;
    color: $black;
}
    
.product__brand {
    font-family: $weight-medium;
    font-size: $font14;
    color: $dark-grey;
}

    
.description__text {
    font-weight: $weight-medium;
    font-size: $font14;
    color: $dark-grey;
}
    
.product__price__details {
    font-size: $font24;
    font-weight: $weight-semi-bold;
    .price__current {
        color: $black
    }
    .price__old {
        font-weight: $weight-medium;
        font-size: $font20;
        color: $dark-grey;
    }
        
    .price_saving {
        color: $theme-color-main;
    }
}
    
.product_actions {
    label {
        font-weight: $weight-semi-bold;
        font-size: $font16;
        color: $black;
        text-transform: uppercase;
    }
    .dropdown {
        width: fit-content;
    }
    .color__dropdown {
        button {
            display: flex;
            .color_box {
                margin-left: 0;
                margin-right: 10px;
            }
        }
    }
        
    .qty__switch {
        padding: 6px;
    }
}
    
    
.offer-heading {
    font-weight: $weight-semi-bold;
    font-size: $font16;
    color: $black;
}
    
.offer-subline {
    font-weight: $weight-medium;
    font-size: $font14;
    color: $dark-grey;
}
    
.product__imgs__box {
    border-right: 1px solid #dee2e6;
}
@media (max-width: 991px) {
    .product__imgs__box {
        border-right: none;
    }
}
    
@media (max-width: 768px) {
    .similar-products {
        .col_2 {
            width: 33%
        }
    }
}
    
@media (max-width: 540px) {
    .action_btns {
        flex-wrap: wrap;
        justify-content: flex-end;
        button {
            margin-bottom: 10px
        }
    }
    
    .product__name,.price__current {
        font-size: $font20;
    }
    #productTab {
        .nav-item {
            .nav-link {
                font-size: $font14;
            }
        }
    }
        
    .price__old {
        font-size: $font16;
    }

    .similar-products {
        .col_2 {
            width: 50%;
        }
    }

    .product_actions {
        flex-wrap: wrap

    }
}
