.edit__profile {
    margin-top: 3px;
}
.profile__info {
    font-size: $font16;
    li {
        width: 50%;
    }
    label {
        font-weight: $weight-regular;
        color: $dark-grey;
        min-width: 60px;
    }
        
    span {
        font-weight: $weight-medium;
        font-size: $font16;
        color: $black;
        padding-left: 20px;
        @extend .d__block;
        max-width: 300px;
        word-break: break-all;
        margin-bottom: 10px;
    }
}

.ks-profile-user {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: column;

    @media (max-width: 1200px) {

    }
}

.o_portal_wrap {
    .container.mb64 {
        .row.justify-content-between.mt-4 {
            .col-12.col-md.col-lg-6 {
                flex: 100%;
                max-width: 100%;
            }
        }
    }

    .o_portal_sidebar {
        .o_portal_sale_sidebar {
            #sidebar_content {
                li.list-group-item.flex-grow-1 {
                    .col.flex-grow-0.pr-2 {
                        min-width: 60px;
                    }
                }
            }
        }
    }
}

