.js_attributes.ks-filter-outer {
    .btn-primary.w-100 {
        &:hover {
            color: currentColor;
        }
    }
}
.product-label {
    color: #0a0a0a;
    font-size: 18px;
    margin-bottom: 0;
}

.product-select {
    width: 55px;
    height: 35px;
    background: transparent;
}

.oe_product_cart {
    .ribbon-wrapper {
        width: auto;
        height: auto;
        box-shadow: -3px 5px 6px 0px rgba(0, 0, 0, 0.2);

        .ribbon {
            transform: none;
            width: auto;
            min-width: 20px;
            writing-mode: vertical-rl;
            text-orientation: upright;
            text-transform: uppercase;
            border-radius: 0;
            padding: 10px 5px;
            right: 0;
            top: 0;
            left: auto;

            @media (max-width: 1200px) {
                font-size: 12px;
            }

            @media (max-width: 575px) {
                font-size: 8px;
            }
        }
    }
}

.oe_product_cart .oe_product_image {
    height: auto;
}