.ks-blog-view-3 {
    .blog__card {
        padding: 0 !important;
    }

    .blog_date,
    .blog-sub-heading,
    .blog_text {
        display: none;
    }

    .blog_heading {
        margin-top: 0 !important;
        font-size: 24px;
    }

    .pr-sm-4 {
        padding: 0 !important;
        position: absolute;
        background: rgba(0, 0, 0, 0.32);
        width: 100%;
        top: 15px;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        width: calc(100% - 30px);
        height: calc(100% - 30px);
        cursor: pointer;
        outline: 2px solid $primary;
        outline-offset: -15px;
        transition: 0.2s ease-in-out;

        &:hover {
            outline-offset: 0;
        }
    }

    .ks-block-height {
        padding: 15px !important;
    }

    .read_blog {
       text-align: center !important;

       &:hover {
            color: $primary;
       }
    }
}