.o_rtl{
    #products_grid_before {
        overflow: hidden;
    }

    .img-slider {
        .carousel-control-prev-icon,
        .carousel-control-next {
            span {
                transform: rotate(180deg);
            }
        }
    }
    .ks_product_slider_multiple {
        .owl-stage-outer {
            direction: ltr;
        }
    }
    .ks-filter-outer{
        overflow: hidden;
    }
    .owl-carousel.owl-rtl{
        direction: ltr  !important;
    }

    .ks-banner-txt {
        right: 60px;
    }
    .carousel-content {
        margin-left: auto;
    }
}

.o_rtl ~  .popover.mycart-popover{
    left: inherit !important;
    direction: ltr;

    &.bs-popover-auto[x-placement^="right"] {
        margin-right: 10px;
    }

    &.bs-popover-auto[x-placement^="right"] > .arrow {
        right: -7px;
        left: inherit;
        transform: rotate(180deg);

    }
}

#products_grid.o_wsale_layout_list .oe_product_cart .o_wsale_product_btn .btn + .btn {
    margin-top: 0;
}
#products_grid .ks-product-list-view .ks-product-list-mode .o_wsale_product_btn{
    justify-content: space-around;
    width: 100%;
}
