$black-100: #3a3a3a;
$black-300: rgba(0, 0, 0, 0.3);
$shadow-100: 0 0 8px 0 rgba(0, 0, 0, 0.2);


.ks-banner-left-text {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 45vh;
  background-position: left;
  display: flex;
  align-items: center;

  @media (max-width: 1024px) {
     min-height: 30vh;
  }

  .row {
     width: 100%;
   }

  .ks-text-pannel-left {
    padding: 15px;
    margin: 0 10px;

    @media (max-width: 767px) {
      background: $black-300;
      border-radius: 15px;
      box-shadow: $shadow-100;
      margin: 20px;
      color: $white;
    }

    .heading-text-info {
      text-transform: uppercase;
      text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.26);
      color: $black-100;
      font-size: 40px;

      @media (max-width: 767px) {
        color: $white;
      }

      @media (max-width: 395px) {
        font-size: 22px;
      }
    }

    .text-color {
      color: $black-100;

      @media (max-width: 767px) {
        color: $white;
      }
    }
  }
}

.btn-container {
  display: flex;
  @media (max-width: 395px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}

.height-90v {
  min-height: 90vh !important;
}

.bg-opac {
    margin: 0 10px;
    background: rgba(255, 255, 255, 0.58);
    border-radius: 15px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}
.flex-on-mobile {
    @media (max-width: 540px) {
        display: flex;
    }
}

.ks-text-left {
    text-align: left;
}

.ks-text-right {
    text-align: right;
}

.ks-text-center {
    text-align: center;
}

.bp-left {
    background-position: left !important;
}

.bp-right {
    background-position: right !important;
}

.bp-bottom {
    background-position: bottom !important;
}

.bg-top-right {
   background-position: top right !important;
}

.img-attachment-fixed {
  @media (min-width: 1025px) {
      background-attachment: fixed;
  }
}

.bg-lg-transparent {
    @media (min-width: 1025px) {
        background-color: transparent !important;
    }
}

.ks-collection-view-horizontal {
    .ks-collection-item {
        min-width: 100%;
    }

    .ks-collectiom-items-conatiner {
        width: 50%;
    }
}

.ks-skills-dark {
    background: #272727;
    color: #ececec;

    .ks-services-v3 .serv-box {
         background: #272727;

         h2 {
            color: #ececec;

            &:after {
                background: darken($primary, 10%);
            }
         }
    }
}

.ks-cta-light {
    background-image: none !important;
    background-color: #f2f2f2;
}

$orange-light: #faead6;
.heading-color {
  color: $black;
}
.ks-container-custom {
  .col-sm-12,
  .col-sm-6 {
    position: relative;
  }
  .image-panel {
    display: block;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    user-select: none;
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: contain;
    align-items: flex-end;
    background: $orange-light;
    height: 300px;
    .image-fluid {
      height: 100%;
      width: 100%;
      object-fit: contain;
      transition: transform 1s;
    }
    &:hover {
      .image-fluid{
        transform: scale3d(1.1,1.1,1);
      }
    }
  }
  .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $black-100;
    transition: all 0.5s;

    ~ .image-fluid{
      transform: scale3d(1.1,1.1,1);
    }
  }
}

.ks-container-gallery {
  .image-item {
    position: relative;
    .image-panel{
      overflow: hidden;
      display: block;
      .image-fluid {
        width: 100%;
        height: 100%;
        max-height: 285px;
        object-fit: contain;
        transition: all 0.5s;
      }
    }
    .image-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      background: rgba(255, 255, 255, 0.77);
      min-width: 340px;
      border-radius: 10px;
      padding: 20px;
      color: #424242;
      transition: all 0.5s;
      z-index: 100;
      box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.24);
      opacity: 0;
      .shadow-1 {
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.27);
      }
    }
    .box-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transition: all 1s;
    }
    &:hover {
      .image-text {
        opacity: 1;
      }
      .image-fluid{
        transform: scale3d(1.1,1.1,1);
      }
    }
  }
}

.ks-container-gallery  {
  .image-fluid {
    width: 100%;
    height: 100%;
    transition: all 0.5s;
  }
  .hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
  }

  .hovereffect .overlay {
    position: absolute;
    overflow: hidden;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    transform: scale(0,1);
  }

  .hovereffect:hover .overlay {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1);
  }

  .hovereffect img {
    display: block;
    position: relative;
    transition: all 0.35s;
  }

  .hovereffect:hover img {
    filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
    filter: brightness(0.6);
  }

  .hovereffect h3 {
    // text-transform: uppercase;
    text-align: center;
    position: relative;
    background-color: transparent;
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(0,-100%,0);
  }

  .hovereffect a, .hovereffect p {
    color: #FFF;
    padding: 1em 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(0,100%,0);
  }

  .hovereffect:hover a, .hovereffect:hover p, .hovereffect:hover h3 {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: translate3d(0,0,0);
  }
}

.ks-container-gallery {
  .image-fluid {
    width: 100%;
    height: 100%;
  }
  .hovereffect2 {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: -webkit-linear-gradient(45deg, #ff89e9 0%, #05abe0 100%);
    background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
  }

  .hovereffect2 .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 20px;
    text-align: left;
  }

  .hovereffect2 img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 60px);
    transition: opacity 0.35s, transform 0.45s;
    transform: translate3d(-40px,0,0);
  }

  .hovereffect2 .mt-auto {
    text-transform: uppercase;
    color: $white;
    position: relative;
    background-color: transparent;
    text-align: left;
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
  }

  .hovereffect2 .overlay:before {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    border: 1px solid $white;
    content: '';
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity 0.35s, transform 0.45s;
    transform: translate3d(-20px,0,0);
  }

  .hovereffect2 a,
  .hovereffect2 p {
    color: $white;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: opacity 0.35s, transform 0.45s;
    transform: translate3d(-10px,0,0);
  }

  .hovereffect2:hover img {
    opacity: 0.6;
    filter: alpha(opacity=60);
    transform: translate3d(0,0,0);
  }

  .hovereffect2:hover .overlay:before,
  .hovereffect2:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: translate3d(0,0,0);
  }
}

$light-black: #e8e8e8;
.pannel-item-center {
  @media screen and (max-width: 575px){
    justify-content: center;
  }
}
.ks-hepl-panel {
  background: $light-black;
  min-height: 130px;
  .icon-container {
    max-width: 60px;
    align-items: center;
    display: flex;
  }
}

.ks-service-dark {
    background: #272727;

    .text-center,
     a {
        color: #ececec;
    }
}

.ks-help-panel-2 {
  background-image: url('/ks_theme_kinetik/static/src/static-snippet-images/services/help-panel-bg.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .ks-help-container {
    background: rgba(0, 0, 0, 0.3);
    padding: 0 40px;
    width: 100%;
    min-height: 250px;
    .icon-container {
      height: 100px;
      width: 100px;
      background: $white;
      padding: 20px;
      justify-content: center;
      align-items: center;
      display: flex;
      border-radius: 50%;
      box-shadow: 0px 2px 6px 0 rgba(0, 0, 0, 0.34);
      .shopping-item {
        position: relative;
        left: -7px;
        top: 2px;
      }
    }
  }
}

.ks-testimonial {
    .carousel-indicators {
        bottom: -16px;

        li {
            background: rgba(0, 0, 0, 0.6);
            cursor: pointer;

            &.active {
                background: rgba(0, 0, 0, 0.9);
            }
        }
    }

    .fa {
        color: black;
        font-size: 60px;
    }

    .img-box {
        img {
            border-radius: 50%;
            box-shadow: -1px 9px 7px 2px rgba(0, 0, 0, 0.28);
            max-width: 200px;
            max-height: 200px;
            object-fit: cover;
        }
    }

    &-dark {
        background: #272727;
        color: #fff;

        .fa {
            color: #fff;
        }

        .carousel-indicators {
            li {
                background: rgba(255, 255, 255, 0.6);
                cursor: pointer;

                &.active {
                    background: rgba(255, 255, 255, 0.9);
                }
            }
        }
    }

    &-left {
        .testimonial {
            width: calc(100% - 240px);
            padding: 20px;
            position: relative;
            text-align: left;

            @media (max-width: 540px) {
                width: 100%;
            }

            &:after {
                content: '\f10d';
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: 50px;
                position: absolute;
                top: -30px;
                left:0;
                opacity: 0.6;
            }
        }

        .img-box {
            padding: 20px;
        }

        .carousel-indicators {
            justify-content: flex-end;
            margin-right: 30px;
        }

        .carousel-control {
            width: 20px;
            height: 60px;
            top: auto;

            &.left {
                left: auto;
                right: 50px;
            }
        }

        &-dark {
            background: #272727;
            color: #fff;

            .fa {
                color: #fff;
            }
        }
    }

    &-right {

        @media (min-width: 541px) {
            .carousel-control {
                &.left {
                    right: auto;
                    left: 0;
                }

                &.right {
                    left: 50px;
                }
            }
        }

        &-dark {
            background: #272727;
            color: #fff;

            .fa {
                color: #fff;
            }
        }
    }
}

.ks-static-testimonial {
    .img-box {
        img {
            border-radius: 50%;
            box-shadow: -1px 9px 7px 2px rgba(0, 0, 0, 0.28);
            max-width: 200px;
            max-height: 200px;
            object-fit: cover;
        }
    }

    .testimonial {
        position: relative;
        &:after {
            content: '\f10d';
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: 50px;
            position: absolute;
            top: -50px;
            left: calc(50% - 23px);
            color: $primary;
        }
    }

    &-dark {
        background: #272727;
        color: white;
    }
}

.ks-accordian {
    .ks-accordian-page .panel {
        border-radius: 0;
        border: 0;
        margin-top: 0px;
    }

    .ks-accordian-page a {
        display: block;
        padding: 10px 15px;
        border-bottom: 1px solid $primary;
        text-decoration: none;
        color: $black;
    }

    .ks-accordian-page .panel-heading a.collapsed:hover,
    .ks-accordian-page .panel-heading a.collapsed:focus {
        background-color: $primary;
        color: $theme-text-color;
        transition: all 0.2s ease-in;
    }

    .ks-accordian-page .panel-heading a.collapsed:hover::before,
    .ks-accordian-page .panel-heading a.collapsed:focus::before {
        color: $black;
    }

    .ks-accordian-page .panel-heading {
        padding: 0;
        border-radius: 0px;
    }

    .ks-accordian-page .panel-heading a:not(.collapsed) {
        color: $theme-text-color;
        background-color: $primary;
        transition: all 0.2s ease-in;
    }

    .ks-accordian-page .panel-heading .accordion-toggle::before {
        font-family: 'FontAwesome';
        content: '\f00d';
        float: left;
        color: $black;
        font-weight: lighter;
        transform: rotate(0deg);
        transition: all 0.2s ease-in;
        margin-right: 20px;
    }

    .ks-accordian-page .panel-heading .accordion-toggle.collapsed::before {
        color: #444;
        transform: rotate(-135deg);
        transition: all 0.2s ease-in;
    }
    .panel-body {
        padding: 20px;
    }

    &-dark {
        background: #272727;
        color: #fff;

        .accordion-toggle{
            color: #fff !important;

            &:hover,
            &:not(.collapsed){
                color: $black !important;
                &:before {
                    color: $black !important;
                }
            }

            &:before {
                color: #fff !important;
            }
        }
    }
}

.contactus-panel{
    padding: 15px;
    background: #f2f2f2;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex-direction: row-reverse;
    overflow: hidden;

    .address-section{
    	background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;
	    position: relative;
	    z-index: 1;
	    height: 100%;
	    display: flex;
	    justify-content: center;
	    align-items: center;
    }
    .contact-text{
		font-size: 16px;
	    line-height: 1.6;
	    color: rgba(255, 255, 255, 0.60);
	}
    .contactus-form{
    	background: #fff;
    	.form-control{
    		&:focus{
    			box-shadow: none;
    		}
    	}
    }

}

// conatct us  Version - 7
.address-list{
	.fa.display-2{
		font-size: 30px;
	}
}

//Landing pages scss

.ks-jewellery-shop {
    .carousel-inner {
        .carousel-item {
            height: 500px !important;

            @media (min-width: 1500px) {
                height: 700px !important;
            }
        }
    }

    &-view {
        .text-position {
            justify-content: flex-end;
            align-items: flex-end;
            transition: all 0.3s ease;
            padding: 32px;
            background: transparent !important;
        }

        .ks-image-fluid {
            filter: brightness(0.7);
        }

        .color-white {
            text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.79);
            font-size: 20px;
        }

        .position-relative {
            &:hover {
                .ks-image-fluid {
                    filter: brightness(1);
                }
            }
        }
    }

    .carousel-content  {
        @media (max-width: 768px) {
            background: rgba(255, 255, 255, 0.5);
            padding: 30px;

            h2 {
                font {
                    font-size: 40px !important;
                }
            }
        }
    }
}


.ks_food_hero {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    @media (max-width: 768px) {
        min-height: 430px;
    }

    @media (max-width: 575px) {
        min-height: 210px;
    }

    @media (max-width:330px) {
        min-height: 150px;
    }

    h1 {
        font-size: 80px;

        @media (max-width: 575px) {
            font-size: 50px;
        }

        @media (max-width:330px) {
            font-size: 40px;
        }

    }

    h2 {
        font-size: 60px;

        @media (max-width: 575px) {
            font-size: 30px;
        }

        @media (max-width:330px) {
            font-size: 20px;
        }
    }

    h4 {
       @media (max-width: 575px) {
            font-size: 16px;
        }

        @media (max-width:330px) {
            font-size: 12px;
        }
    }

    .ks_food_overlay {
        position: relative;
        z-index: 100;
        color: white;
        text-shadow: -1px 5px 2px rgba(0, 0, 0, 0.32);

        .btn {
           @media (max-width:330px) {
               margin-bottom: 20px;
            }
        }
    }

    video {
        position: absolute;
        width: 100%;
    }

    .ks-food-color-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.3);
        z-index: 1;
    }
}

.ks-food-icon {
    min-width: 20px;
    max-width: 20px;

}

.ks-food-sweet {
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: -1px 6px 8px 3px rgba(0, 0, 0, 0.27);
    margin: auto;

    @media (max-width: 575px) {
       width: 200px;
       height: 200px;
    }

    img {
        object-fit: cover;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }

    &:hover {
        img {
            transform: scale(1.1);
        }
    }
}

.ks-food-team {

    .transition {
      transition: .5s cubic-bezier(.3, 0, 0, 1.3)
    }

    .nine {
      list-style: none;
      padding: 0;

      @media (max-width: 768px) {
          padding: 10px;
      }
    }

    .nine > li {
      background: #FFFFFF;
      border: 1px solid rgba(150,150,150,0.29);
      -moz-box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
      box-shadow: 0px 0px 18px 0px rgba(103,85,85,0.39);
      width: calc(25% - 24px);
      height: 400px;
      display: inline-block;
      margin: 0 10px;
      text-align: center;
      cursor: pointer;
      overflow: hidden;

      @media (max-width: 768px) {
         width: calc(50% - 24px);
         margin: 10px;
      }

      @media (max-width: 575px) {
         width: calc(100% - 24px);
         margin: 10px;
      }
    }
    .nine .wrapper {
      position: relative;
      height: 100%;
    }
    .nine .social {
      list-style: none;
      text-align: center;
      position: absolute;
      bottom: 40px;
      margin: 0;
      padding: 0;
      text-align: center;
      width: 100%;
      opacity: 0;
    }
    .nine .social li {
      display: inline-block;
      margin: 0 2px;
    }
    .nine .social li img {
      max-width: 24px;
      max-height: 24px;
      width: 24px;
      margin-left: 10px;

    }
    .nine .social li img:hover {
      opacity: 0.5;
    }
    .nine > li:hover .social {
      bottom: 130px;
      opacity: 1;
    }
    .nine span {
      background: $primary;
      border-radius: 50%;
      height: 100%;
      width: 120%;
      display: block;
      position: absolute;
      bottom: 230px;
      left: -10%;
    }
    .nine > li:hover span {
      bottom: 260px;
      border-radius: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
    }
    .nine span img {
      position: absolute;
      bottom: 10px;
      left: calc(50% - 75px);
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
    .nine > li:hover span img {
      bottom: -20px;
    }
    .nine h3 {
      position: absolute;
      top: 200px;
      color: $black;
      text-transform: uppercase;
      font-size: 20px;
      width: 100%;
    }
    .nine h3 em {
      color: #444;
      font-size: 12px;
      font-style: normal;
      display: block;
      margin-top: 2px;
      opacity: 0.8;
    }
    .nine > li:hover h3 {
      top: 170px;
    }
    .nine .trigger {
      position: absolute;
      bottom: 40px;
      width: 100%;
      text-align: center;
    }
    .nine .trigger i {
      width: 45px;
      height: 45px;
      color: #fff;
      background: #272727;
      font-style: normal;
      font-size: 26px;
      border-radius: 50%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .nine > li:hover .trigger i {
      width: 30px;
      height: 30px;
      margin-bottom: 20px;
      font-size: 18px;
    }

}

@keyframes arrow {
     0% {
        background-position: center top;
    }

    50% {
        background-position: center 10px;
    }

    100% {
        background-position: center top;
    }

 }

 .font-xs-40 {
    @media (max-width: 575px) {
        font-size: 40px;
    }
 }

 .ks-spa-about {
    @media (max-width: 575px) {
        .font-36 {
            font-size: 24px;
        }
    }
 }

 .ks-bottom-decorator {
    position: relative;
 }

 .ks-pet-services {
    .text-center {
        text-align: left !important;
    }

    .align-items-center.flex-column.text-center {
        align-items: baseline !important;
    }

    @media (max-width: 575px) {
        .pannel-item-center {
             justify-content: start;
        }
    }
 }

 .ks-full-banner .ks-banner-text-container {
    @media (max-width: 575px) {
        margin: auto;
    }
 }

 .ks-watch {
    &-banner-text {
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
 }

.border-radius-card {
    border-radius: 15px;
}

.ks-corporate-text {
    font-size: 50px !important;
    line-height: 1.2;

    @media (max-width: 575px) {
        font-size: 30px !important;
    }
}

.height-70v {
    min-height: 70vh;
}

.ks-services-corporate {
    .serv-box-bg {
        border: none;
        margin-top: 0;
        background: transparent;
    }
}

.ks-fitness-gallery {
    .text-position {
        background: rgba(0, 0, 0, 0.4);

        &:hover {
           background: rgba(0, 0, 0, 0.0);
        }
    }
}

.social-media-link{
	text-align: center;
	a{
		margin: 0 3px;
	}
}
.font-14{
	font-size: 14px;
}
.title-bar{
	width: 50px;
	height: 3px;
	background: #ccc;
	display: block;
    margin-bottom: 20px;
}
.object-fit{
	height: 100%;
	width: 100%;
	object-fit:cover;
}
.our-team{
	.sub-title {
	    line-height: 25px;
	    color: #7e7e7e;
	}
	.team-img{
		height: 260px;
		.img-fluid{
			height: 100%;
		    width: 100%;
		    object-fit: cover;
		}
	}
	.team-member{
		overflow: hidden;
		position: relative;
		.team-hover{
			position: absolute;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    right: 0;
		    margin: 0;
		    opacity: 0;
		    -webkit-transition: all 0.3s;
		    transition: all 0.3s;
		    text-align: center;
		    .s-link {
		    	a{
			    	margin: 0 10px;
				    font-size: 16px;
				    &:hover{
				    	opacity: 0.8;
				    }
			    }
		    }
		}
	}
	.team-title {
		    letter-spacing: 2px;
		    h5{
		    	margin-bottom: 0px;
			    display: block;
			    text-transform: uppercase;

			    @media (max-width: 768px) and (min-width: 576px) {
			        min-height: 42px;
			    }
		    }
		    span{
		    	font-size: 12px;
			    text-transform: uppercase;
			    color: #a5a5a5;
			    letter-spacing: 1px;
		    }
	}
	&.team-v1{
		.team-member{
			.team-hover {
				border: 20px solid rgba(0, 0, 0, 0.1);
		    	background-color: rgba(255, 255, 255, 0.90);
				.desk {
				    position: absolute;
				    top: 0%;
				    width: 100%;
				    opacity: 0;
				    -webkit-transform: translateY(-55%);
				    -ms-transform: translateY(-55%);
				    transform: translateY(-55%);
				    -webkit-transition: all 0.3s 0.2s;
				    transition: all 0.3s 0.2s;
				    padding: 0 20px;
				}
				.s-link {
				    position: absolute;
				    bottom: 0;
				    width: 100%;
				    opacity: 0;
				    text-align: center;
				    -webkit-transform: translateY(45%);
				    -ms-transform: translateY(45%);
				    transform: translateY(45%);
				    -webkit-transition: all 0.3s 0.2s;
				    transition: all 0.3s 0.2s;
				    a{
				    	color: #333;
				    }
				}
			}
			&:hover{
				.team-hover{
					opacity: 1;
					.s-link, .desk{
						opacity: 1;
					}
					.desk {
						top: 35%;
					}
					.s-link{
						bottom: 10%;
					}
				}
			}
		}
	}
	&.team-v2{
		.team-member{
			.team-hover {
				padding: 50px;
			    color: transparent;
			    background-color: transparent;
			    z-index: 996;
			    top: inherit;
			    bottom: 0;
			    left: 0;
			    width: 100%;
			    height: 0;
			    overflow: hidden;
			    visibility: hidden;
			    -webkit-transition: all 0.3s ease-in-out;
			    -moz-transition: all 0.3s ease-in-out;
			    -o-transition: all 0.3s ease-in-out;
			    transition: all 0.3s ease-in-out;
			}
			&:hover{
				.team-hover {
					opacity: 1;
					visibility: visible;
				    color: #fff;
				    background: rgba(0, 0, 0, 0.56);
				    height: 100%;
				    -webkit-transition: all 0.3s ease-in-out;
				    -moz-transition: all 0.3s ease-in-out;
				    -o-transition: all 0.3s ease-in-out;
				    transition: all 0.3s ease-in-out;
				}
			}

		}
		.team-title{
			text-align: center;
		}
	}
	&.team-v3{

	}
	&.team-v4{
		.thum-img{
			width: 100px;
		    height: 100px;
		    border-radius: 50%;
		    overflow: hidden;
		    margin: 0 auto;
		    img{
		    	height: 100%;
			    width: 100%;
			    object-fit: cover;
			    filter: grayscale(100);
		    }
		}
		.team-list{
			&:hover{
				.thum-img{
					img{
						filter: grayscale(0);
					}
				}
			}
		}
	}
}

.team-list{
 	transition: all ease-in-out 0.5s;
 	padding-top: 15px;
 	&:hover{
 		box-shadow: 0 0 4px #ccc;
 	}
}

.ks-fitness-contact {
    background-color: rgba(0, 0, 0, 0.39);
    background-blend-mode: color;
    background-size: cover;
    color: white;

    input,
    textarea {
        background: transparent;
        border-color: white !important;
        color: white !important;

        &::placeholder {
            color: rgba(255, 255, 255, 0.75);
        }
    }
}

.ks-fitness-indicators {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    width: fit-content;
    margin: auto;
}

.font-34 {
    font-size: 34px;
}

.img-slider {
    min-height: 100px;

    .carousel-control-next,
    .carousel-control-prev {
        background: rgba(0, 0, 0, 0.8);
        width: 50px;
        height: 50px;
        margin-top: auto;
        margin-bottom: auto;

    }

    .slide .carousel-item {
        height: auto !important
    }
}

.ks-corporate-banner-position {
    background-position: 80% 0%;

    @media (max-width: 1024px) and (min-width: 541px) {
       background-color: rgba(255, 255, 255, 0.63);
    }
}

.ks-jewel-banner-right  {
    background-position: 70% 0;
}

.ks-pet-position {
    background-position: 40%;
}

.ks-pricing-4 {

    .pricing-table .block-heading {
      margin-bottom: 40px;
      text-align: center;
    }

    .pricing-table .block-heading h2 {
      color: #3b99e0;
    }

    .pricing-table .block-heading p {
      text-align: center;
      max-width: 420px;
      margin: auto;
      opacity: 0.7;
    }

    .pricing-table .heading {
      text-align: center;
      padding-bottom: 10px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .pricing-table .item {
      background-color: #ffffff;
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.37);
      border-top: 2px solid $primary;
      padding: 30px;
      overflow: hidden;
      position: relative;
    }

    .pricing-table .col-md-5:not(:last-child) .item {
      margin-bottom: 30px;
    }

    .pricing-table .item button {
      font-weight: 600;
    }

    .pricing-table .ribbon {
      width: 160px;
      height: 32px;
      font-size: 12px;
      text-align: center;
      color: #fff;
      font-weight: bold;
      box-shadow: 0px 2px 3px rgba(136, 136, 136, 0.25);
      background: #4dbe3b;
      transform: rotate(45deg);
      position: absolute;
      right: -42px;
      top: 20px;
      padding-top: 7px;
    }

    .pricing-table .item p {
      text-align: center;
      margin-top: 20px;
      opacity: 0.7;
    }

    .pricing-table .features .feature {
      font-weight: 600; }

    .pricing-table .features h4 {
      text-align: center;
      font-size: 18px;
      padding: 5px;
    }

    .pricing-table .price h4 {
      margin: 15px 0;
      font-size: 45px;
      text-align: center;
      color: $primary;
    }

    .pricing-table .buy-now button {
      text-align: center;
      margin: auto;
      font-weight: 600;
      padding: 9px 0;
    }

}

.ks-pricing-5 {
    .pricingTable {
        background: #d62035;
        text-align: center;
        border-radius: 0 100px;
        overflow: hidden;
        transition: all 0.3s;

        &:hover {
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
            cursor: pointer;
        }

        &-header {
            color: #fff;
            background: linear-gradient(100deg, #F83950, #F7700F);
            padding: 10px 30px 50px;
            margin: 0 0 50px;
            border-radius: 0 100px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
        }

        .amount {
            font-size: 45px;
            font-weight: 700;
        }

        .month {
            font-size: 16px;
            line-height: 10px;
            text-transform: uppercase;
            display: block;
        }

        .icon {
            color: #F83950;
            background-color: #fff;
            font-size: 40px;
            line-height: 80px;
            height: 80px;
            width: 80px;
            border-radius: 50%;
            box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.3), 0 5px 25px rgba(0, 0, 0, 0.3);
            transform: translateX(-50%);
            position: absolute;
            left: 50%;
            top: 120px;
        }

        .pricing-content {
            background-color: #fff;
            padding: 45px 0 30px 0;
            border-radius: 0 100px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5) inset;
        }

        .title {
            color: #F83950;
            font-size: 22px;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0 0 10px;
            display: block;

            &:after {
                content: '';
                background-color: #F83950;
                height: 2px;
                width: 40%;
                display: block;
                margin: 10px auto 0;
            }
        }

        .pricing-content ul {
            color: #202020;
            font-size: 16px;
            letter-spacing: 1px;
            line-height: 30px;
            padding: 0;
            margin: 0 0 20px;
            list-style: none;
        }

        .pricingTable-signup {
            color: #fff;
            background: #d62035;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 10px 15px;
            margin: 0 auto;
            border-radius: 40px 0;
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: all 0.3s ease 0s;

            &:hover {
                  color: #d62035;
                  background-color: #fff;
                  box-shadow: 0 0 20px #F83950 inset;
            }
        }

        &.blue {
            background-color: #0b39c4;

            .pricingTable-header {
                background: linear-gradient(100deg, #0B43FA, #49A8FF);
            }

            .icon {
                color: #0b39c4;
            }

            .title {
              color: #0b39c4;

              &:after {
                background-color: #0b39c4;
              }
            }

            .pricingTable-signup {
              background-color: #0b39c4;

              &:hover {
                    color: #0b39c4;
                    background-color: #fff;
                    box-shadow: 0 0 20px #0b39c4 inset;
              }
            }
        }

        &.green {
            background-color: #17b568;

            .pricingTable-header {
                  background: linear-gradient(100deg, #27CE7F, #5BF095);
            }

            .icon {
              color: #27CE7F;
            }

            .title {
              color: #27CE7F;

              &:after {
                background-color: #27CE7F;
              }
            }

            .pricingTable-signup {
              background-color: #17b568;

              &:hover {
                    color: #17b568;
                    background-color: #fff;
                    box-shadow: 0 0 20px #17b568 inset;
              }
            }
        }

        &.purple {
            background-color: #451a5e;

            .pricingTable-header {
                background: linear-gradient(100deg, #6b189b, #ad3bdb);
            }

            .icon {
                color: #6b189b;
            }

            .title {
              color: #6b189b;

              &:after {
                background-color: #6b189b;
              }
            }

            .pricingTable-signup {
                background-color: #451a5e;

                &:hover {
                    color: #451a5e;
                    background-color: #fff;
                    box-shadow: 0 0 20px #451a5e inset;
                }
            }
        }
    }

    @media only screen and (max-width: 990px) {
        .pricingTable {
            margin: 0 0 30px;
        }
    }
}

.ks-services-5 {
    .serviceBox{
        text-align: center;
        padding: 0 15px 15px;
        margin: 0 -15px;
        position: relative;
        z-index: 1;
    }
    .serviceBox:before,
    .serviceBox:after{
        content: "";
        width: 100%;
        border: 8px solid #343a40;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 105px;
        left: 0;
        z-index: -1;
    }
    .serviceBox:after{
        background: #343a40;
        width: 40px;
        height: 25px;
        border: none;
        box-shadow: none;
        transform: translateX(-50%) rotateY(270deg);
        top: 135px;
        left: 50%;
        -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
        clip-path: polygon(0 0, 50% 100%, 100% 0);
        transition: all 0.3s;
    }
    .serviceBox:hover:after{ transform: translateX(-50%) rotateY(0); }
    .serviceBox .service-icon{
        color: #343a40;
        font-size: 45px;
        line-height: 88px;
        width: 120px;
        height: 120px;
        margin: 0 auto 50px;
        border: 15px solid #343a40;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) inset,-3px -3px 5px rgba(0,0,0,0.2);
        transition: all 0.3s ease 0s;
    }
    .serviceBox .service-icon i.fa{
        transform: rotateY(0deg);
        transition: all 0.3s ease 0s;
    }
    .serviceBox:hover .service-icon i.fa{ transform: rotateY(360deg); }
    .serviceBox .title{
        color: #343a40;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin: 0 0 10px;
    }
    .serviceBox .description{
        color: #4e4b4b;
        font-size: 15px;
        line-height: 25px;
    }
    .serviceBox.yellow:before{ border-color: #343a40; }
    .serviceBox.yellow:after{ background-color: #343a40; }
    .serviceBox.yellow .service-icon{
        color: #343a40;
        border-color: #343a40;
    }
    .serviceBox.yellow .title{ color: #343a40; }
    .serviceBox.magenta:before{ border-color: #343a40; }
    .serviceBox.magenta:after{ background-color: #343a40; }
    .serviceBox.magenta .service-icon{
        color: #343a40;
        border-color: #343a40;
    }
    .serviceBox.magenta .title{ color: #343a40; }
    .serviceBox.gray:before{ border-color: #343a40; }
    .serviceBox.gray:after{ background-color: #343a40; }
    .serviceBox.gray .service-icon{
        color: #343a40;
        border-color: #343a40;
    }
    .serviceBox.gray .title{ color: #343a40; }
    @media only screen and (max-width:990px){
        .serviceBox{ margin: 0 -15px 40px; }
    }
    @media only screen and (max-width:767px){
        .serviceBox{ margin: 0 0 40px; }
    }
}

.ks-services-7 {
    .serviceBox{
        text-align: center;
        padding: 0 10px;
        border-bottom: 5px solid transparent;
        position: relative;
        transition: all 0.3s ease 0s;
    }
    .serviceBox:hover{ border-bottom: 5px solid $primary; }
    .serviceBox .service-icon{
        color: #202020;
        background-color: #fff;
        font-size: 60px;
        line-height: 110px;
        height: 130px;
        width: 130px;
        margin: 0 auto 50px;
        border: 10px solid $primary;
        border-radius: 0 0 50% 50%;
        position: relative;
        z-index: 1;
        transition: all 0.5s ease 0s;
    }
    .serviceBox:hover .service-icon{
        color: #505050;
        box-shadow: 0 0 15px #909090 inset;
    }
    .serviceBox .service-icon:after{
        content: '';
        background-color: $primary;
        height: 30px;
        width: 30px;
        border-radius: 0 20px 20px 20px;
        opacity: 0;
        transform: translateX(-50%) scale(0.8, 1.05) rotate(45deg);
        position: absolute;
        left: 50%;
        bottom: 0;
        transition: all 0.3s;
    }
    .serviceBox:hover .service-icon:after{
        opacity: 1;
        bottom: -50px;
    }
    .serviceBox .title{
        color: #505050;
        font-size: 22px;
        font-weight: 600;
        text-transform: capitalize;
        margin-bottom: 10px;
    }
    .serviceBox:hover .title{ color: $primary; }
    .serviceBox .description{
        color: #505050;
        font-size: 17px;
        line-height: 27px;
        margin-bottom: 15px;
    }
    @media only screen and (max-width:990px){
        .serviceBox{ margin: 0 0 40px; }
    }
}

.ks-snippet-gallery {
    .text-position {
        background: rgba(0, 0, 0, 0.2);

        &:hover {
             background: $primary;
             color: $theme-text-color !important;
        }
    }
}