//$text-color: #0A0A0A;

$collection-item-1-color: #e7a779;
$collection-item-2-color: #8ab9ef;
$collection-item-3-color: #59b2ee;
$collection-item-4-color: #aea757;

$white: #ffffff;
$light-green: $theme-color-primary;
$light-gray: rgba(0, 0, 0, .3);

$skill-1: 80%;
$skill-2: 90%;
$skill-3: 70%;
$skill-4: 80%;
$skill-5: 76%;
$skill-6: 60%;
$skill-7: 78%;
$skill-8: 50%;

$light-gray: rgba(255, 242, 242, 0.5);
$color-yellow: #fab446;
$color-white: #ffffff;
$color-black: #000000;
$color-gray: #828282;

$light-blue: #e4eff9;

//price snippet
$card-bg-color-2: #8ab9ef;
$card-bg-color-3: #aea757;
$card-bg-color-4: #e7a779;

//Deal of the day

$black: #353535;
$light-black: rgba(255, 255, 255, 0.52);
$light-white: rgba(255, 255, 255, 0.52);
$light-green: #c1c17e;
$green: #8a8a29;
$yellow: #fff160;
$white7: rgba(255, 255, 255, 0.75);


//Exclusive Offer 1
$black: #000000;
$orange: #eb9a58;
$light-blue: #bfe8fc;
$green: #b4d548;
$product-bg: rgba(191, 232, 252, 0.61);


//Exclusive Offer 2
$orange: #ff8300;


//Special Deal 2
$violet: #5dd0fa;


//Contact us
$light-pink: #efe2ff;
$pink: #000;
$dark-pink: #62408c;
$btn-bg: #e625a4;
$white-rgb: rgba(255, 255, 255, 0.8);
$light-gray: #f3f1f6;
$blue: #5f1ab4;
$black-rgb: rgba(0, 0, 0, 0.6);
$light-gray: #f3f1f6;


//full width view
$full-banner-bg: rgba(0, 0, 0, 0.23);

    //Service and skills
$color_black_haze: #f6f6f6;
$color_outrageous_orange_70: rgba(255, 89, 56, 0.7);
$color_fuscous_gray: #555;
$color_celeste: #cccccc;
$concrete: #f2f2f2;
$white_90: rgba(255, 255, 255, 0.9);
$color_outrageous_orange_50: rgba(255, 89, 56, 0.5);
$gray: #808080;
$color_amaranth: #e9204f;
$color_cod_gray: #060606;
$color_mountain_mist: #999;

//button
$btn-weight: bold;
//$btn-radius: ;



