.wraper {
	.about-container {
		width: 90%;
		margin: 0 auto;

		.btn-1-info {
			background: $color-yellow;
	    color: $color-black;
	    border: 1px solid $color-yellow;
	    &:hover {
	    	background-color: $color-white;
	    	color: $color-black;
	    	transition: all 0.3s ease;
			   -webkit-transition: all 0.3s ease;
	    }
		}
		.btn-2-info {
			border: 1px solid $color-black;
			background: $color-white;
				&:hover {
		    	background-color: $color-black;
		    	color: $color-white;
		    	transition: all 0.3s ease;
				   -webkit-transition: all 0.3s ease;
		    }
		}
		.image-panel {
			.img-iten {
    		background: $color-white;
    		border-radius: 10px;
    		overflow: hidden;
				.image-fluid{
					border-radius: 10px;
			        transform: scale(1);
                    transition: all 0.3s ease;
                    object-fit: cover;

                    &:hover {
                        transform: scale(1.1);
                    }
				}
			}
		}
	}
}
