$weight-size: 300;
@for $i from 1 through 5 {
    .b-#{$weight-size} {
        font-weight: $weight-size;
    }
    $weight-size: $weight-size + 100;
}

//fonts

.font-14 {
	font-size: 14px;
}

.font-18 {
	font-size: 18px;
	@media screen and (max-width: 767px){
		font-size: 14px;
	}
}

.font-24 {
	font-size: 24px;
	@media screen and (max-width: 1199px){
		font-size: 20px;
	}
}

.font-28 {
  font-size: 28px;
}

.font-30 {
  font-size: 30px;
  @media screen and (max-width: 1142px){
    font-size: 24px;
  }
}


.font-35 {
  font-size: 35px;
  @media screen and (max-width: 767px){
    font-size: 24px;
  }
}

.font-40 {
  font-size: 40px;
  @media screen and (max-width: 767px){
    font-size: 28px;
  }
}

.font-42 {
  font-size: 42px;
  @media screen and (max-width: 767px){
    font-size: 28px;
  }
}

.font-50 {
  font-size: 50px;
  @media screen and (max-width: 767px){
    font-size: 30px;
  }
}

.font-70 {
  font-size: 70px;
  @media screen and (max-width: 1114px){
    font-size: 40px;
  }
  @media screen and (max-width: 980px){
    font-size: 34px;
  }
  @media screen and (max-width: 780px){
    font-size: 24px;
  }
}

.font-90 {
  font-size: 90px;
  @media screen and (max-width: 980px){
    font-size: 45px;
  }
  @media screen and (max-width: 780px){
    font-size: 40px;
  }
}

//widths

.w-60 {
  width: 60%;
  @media screen and (max-width: 767px){
    width: 100%;
  }
}

.w-70 {
  width: 70%;
  @media screen and (max-width: 767px){
    width: 100%;
  }
}

.W-90 {
  width: 90%;
}

.vh-10 {
  height: 10vh;
  background-color: $black;
}

.vh-20 {
  height:20vh;
  background-color: $black;
}

.vh-50 {
  height: 50vh;
}

//colors

.dark-pink {
	color: $dark-pink;
}

.btn-bg {
	background-color: $btn-bg;
}

.color-white {
	color: $white;
}

.bg-light-pink {
	background-color: #efe2ff;
}

.color-pink {
	color: $pink;
}

.color-wellow {
  color: $yellow;
}

.bg-yellow {
  background-color: $yellow;
}


.bg-light-blue {
  background-color: $light-blue;
}

.bg-orange {
  background-color: $orange;
}

.bg-green {
  background-color: $green;
}

//others
.text-shadow{
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.25);
}

input:focus, textarea:focus {
  outline: none;
}

.text-primary {
    color: $primary !important;
}

.box__shadow__hover {
    transition: 0.2s ease-in-out;

    &:hover {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }
}

.ks-pricing-text-v2 {
    font-weight: $weight-semi-bold;
}

.text-transform {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.image-fluid {
  height: 100%;
  width: 100%;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}