.ks-collection-view-full {
    .ks-collection-item:nth-child(1) {

        background-color: transparent;
    }
    .ks-collection-item:nth-child(2) {
        background-color: transparent;
        background-position: right;
    }
    .ks-collection-item {
        &:before {
            display: none;
        }
    }
    .ks-collectiom-items-conatiner {
        background: rgba(255, 255, 255, 0.42);
        padding: 40px;
        width: 70%;
        outline-style: double;
        outline-offset: -20px;
        transition: 0.2s ease-in-out;

        &:hover {
            outline-offset: 0px;
        }

        @media (max-width: 768px) {
            width: 90%;
        }

        @media (max-width: 540px) {
            width: 100%;
        }

    }
}
