.ks-collection {
    &-view {
        min-height: 90vh;
        padding: 20px;
    }

    &-item {
        width: calc(50% - 8px);
        min-height: calc(50% - 8px);
        background-size: cover;
        background-repeat: no-repeat;
        transition: 0.3s ease-in-out;
        @extend %shine-effect;
        background-position: bottom;

        .btn {
            width: -moz-fit-content;
            width: fit-content;
        }

        @media (max-width: 990px) {
            background-color: rgba(255, 255, 255, 0.25);
            background-blend-mode: color;
        }

        @media (max-width: 540px) {
            width: 100%;
        }
    }
}
