.ks-offers {
  .ks-product-image {
    background: $product-bg;
    padding: 15px;

    background-repeat: no-repeat;
    background-position: 18%;
    background-attachment: fixed;

    .image-text{
      width: 420px;
      height: 420px;
      background: rgba(0, 0, 0, 0.44);
      padding: 20px;
      color: $white;
      border-radius: 50%;
      @media screen and (max-width: 767px){
        width: 320px;
        height: 320px;
      }
      @media screen and (max-width: 425px){
        width: 280px;
        height: 280px;
      }
      .text-position {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 80%;
      }
      .heading{
        text-transform: uppercase;
        font-size: 40px;
        @media screen and (max-width: 767px){
          font-size: 28px;
        }
      }
      .sub-heading{
        text-transform: uppercase;
        font-size: 20px;
      }
    }
  }
  .offer-container {
    position: relative;
    min-height: 300px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    &:hover{
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
      }
    .top-item{
      position: absolute;
      top: -34px;
      left: 50%;
      height: 65px;
      width: 65px;
      background-color: $white;
      border-radius: 50%;
      transform: translateX(-50%);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

      .item-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        .item-1 {
          color: $black;
          margin-left: -10px;
        }
        .item-2 {
          color: $black;
          margin-right: -10px;
        }
      }
    }
    .about-offer {}
  }
}