.ks-pricing {
    &-card {
        background: $primary;

        &-inner {
            background: $white;
            border-top-left-radius: 33%;
            border-top-right-radius: 33%;
        }
    }

    &-list {
        &-icon {
            font-size: 30px;
            line-height: 1;
        }
    }

    &-offer-text {
        font-size: $font14;
    }

    &-img {
        border-bottom: 3px solid $primary;
        width: 80%;
        height: 280px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom;
        margin: auto;

        &-individual {
            background-image: url(/ks_theme_kinetik/static/src/static-snippet-images/Individual.svg);
        }

        &-team {
            background-image: url(/ks_theme_kinetik/static/src/static-snippet-images/Team.svg);
        }

        &-enterprise {
            background-image: url(/ks_theme_kinetik/static/src/static-snippet-images/Enterprise.svg);
        }
    }

    &-plan {
        .ks-pricing-list-icon {
            line-height: 0;
        }

        .fa {
            font-size: 14px;
            line-height: 1;
            margin-top: -1px;
            margin-right: 5px;
        }

        li.mb-2.align-items-center {
            margin-bottom: 16px !important;
        }
    }
}
