.ks-pricing {
    &-plan-v3 {
        .ks-pricing-card {
            border-radius: 20px;
        }
    }

    &-link {
        background: rgba(0, 0, 0, 0.22);
        border-radius: 10px;
        a {
            font-size: $font14;
            font-weight: $weight-semi-bold;
        }
    }
}

.card-bg-color-1 {
    background: $primary;

    &:hover {
        background: $white;
        color: $primary;
    }
}

.card-bg-color-2 {
    background: $card-bg-color-2;

    &:hover {
        background: $white;
        color: $card-bg-color-2;
    }
}
.card-bg-color-3 {
    background: $card-bg-color-3;

    &:hover {
        background: $white;
        color: $card-bg-color-3;
    }
}
.card-bg-color-4 {
    background: $card-bg-color-4;

    &:hover {
        background: $white;
        color: $card-bg-color-4;
    }
}