.ks-services-v2 {
	color: $black;
  .section-heading {
    width: 100%;
    height: auto;
    clear: both;
    float: left;
    text-align: center;
    padding-bottom: 90px;
    span {
      text-transform: uppercase;
      color: $color_amaranth;
      font-size: 14px;
      font-weight: 600;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
  }
  .serv-box {
    margin: 0 0 40px 0;
    position: relative;
    transition: all .7s ease;
    .inner {
      width: 100%;
      height: auto;
      clear: both;
      position: relative;
      background-color: $color_cod_gray;
      padding: 30px;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;
      text-align: center;
      &:before {
        position: absolute;
        content: "";
        width: 0;
        height: 6px;
        background-color: $primary;
        left: 50%;
        bottom: 0;
        transition: all .3s ease;
      }
      &:hover {
        &:before {
          width: 50%;
        }
        &:after {
          width: 50%;
        }
      }
      &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 6px;
        background-color: $primary;
        right: 50%;
        bottom: 0;
        transition: all .3s ease;
      }
      p {
        color: $color_mountain_mist;
      }
	  h3{
		color: $white;
	  }

      .file-icon {
          color: $dark;
          font-size: 50px;
          padding-bottom: 10px;
          transition: all 0.7s ease-out;
          text-shadow: 14px -4px 9px rgba(0, 0, 0, 0.34);
      }
    }
  }
}
