.ks-team {
  background: $light-gray;
  padding: 20px 0;
  .image-info {
    overflow: hidden;
    border-radius: 10px;
    .custon-img-fluid{
        min-height: 251px;
        object-fit: contain;
        height: 100%;
        width: 100%;
        border-radius: 10px;
        transform: scale(1);
        transition: all 0.3s ease;
        background-color: #c3c3ea;
    }



  }
  .ks-team-member {
    &:hover {
      .image-text{
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
      }
    .custon-img-fluid {
      transform: scale(1.1);
    }

    }
  }
  .image-text {
    background-color: $theme-color-primary;
    height: 90px;
    border-radius: 10px;
    width: 93%;
    margin: -36px auto 0 auto;
    position: relative;
    color: $theme-text-color;
     transition: all .5s;
     cursor: pointer;

  }
  .oe_website_sale {
    display: flex;
    flex-wrap: wrap;
  }
}
