@keyframes shine {
    0% {
        left: 0%;
    }

    100% {
        left: 125%;
    }
}

@keyframes fillEffect {
	0% {
		transform: scaleY(0);
		opacity: 1;

	}
	100% {
		transform: scaleY(1);
		opacity: 1;

	}
}

@keyframes animation-1 {
  0% {
    transform: translateY(-35px);
    opacity: .5;
  }
  50% {
    opacity: .7;
  }
  100%{
    transform: translateY(0);
    opacity: 1;

  }
}

@keyframes now {
  0% {
      transform: translateY(-25px);
  }
  100%{
      transform: translateY(0);

  }
}

@keyframes collection {
  0% {
      transform: translateY(25px);
  }
  100%{
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes moveright {
    0% {
      transform: translateX(30px);
  }
  100%{
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes moveleft {
    0% {
      transform: translateX(-30px);
  }
  100%{
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes moveup {
    0% {
        transform: translateY(40px);
    }

    100% {
        transform: translateY(15px);
        opacity: 1;
    }
}

@keyframes moveupfull {
    0% {
        transform: translateY(40px);
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes scale_movedown {
    0% {
        transform: translateY(-50px);
    }



    100% {
        transform: translateY(0px);
    }
}

@keyframes slide_left {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }

}

@keyframes slide_right {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }

}

@keyframes squaremove{
    0%, 100%{
        transform: translate(0,0) rotate(0);
    }

    25%{
         transform: translate(40px,40px) rotate(45deg);
    }

    50%{
         transform: translate(0px,80px) rotate(0deg);
    }

    75%{
         transform: translate(-40px,40px) rotate(45deg);
    }
}
