.pagination{
  display:None;

}
.display_load_more{

   display:block !important;
   width: 100%;
   text-align: center;

}
.ks_no_more_prod{
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin-top: 12px;

}

.product_load_more.disabled{
    pointer-events: none;
    opacity: 0.6;
    cursor: not-allowed;
}