@media (min-width: 769px) {
    body {
        .ks_filter_button {
            display: none !important;
        }

        .o_wsale_products_main_row {
            max-width: 1400px;
            margin: auto;
        }

        .ks_products_table .col-md-6.ks-product-list .oe_product_cart img {
            height: 200px;
            padding: 10px;
        }

        .ks-product-list-view {
           padding-left: 20px;
        }

        .shop_main_container {
            > .row.mt-3 {
                max-width: 1400px;
                margin: auto;
            }

            #products_grid {
                max-width: 75%;

                &.ks-product-list-view {
                    margin-top: 16px;
                }
            }

            .ks_products_table {
                margin-top: 0;
            }
        }

        #products_grid_before {
            display: flex;
            transform: translateX(0px);
            position: relative;
            top: auto;
            bottom: auto;
            left: auto;
            width: auto;
            height: max-content;
            flex-wrap: wrap;
            flex: 25%;
            max-width: 25%;
            z-index: 1;
            border: 1px solid #eee;
            padding: 10px 0;
            margin-top: 10px;
        }

        .ks_products_table .col-md-6.ks-product-list:not(.col-lg-4) .oe_product_cart .o_wsale_product_btn .o_add_compare,
        .ks_products_table .col-md-6.ks-product-list:not(.col-lg-4) .oe_product_cart .o_quick_view, {
            margin-left: 0;
        }
    }

    .filter-selectedFilterContainer {
        padding: 10px 20px !important;

        + .row {
            margin: 0 -15px 0 10px !important;
        }
    }
}