.product-card .wishlist_and_comparision{
    top: 0 !important;
    transform: translateY(-100%) !important;
}
.ks_products_table .oe_product.oe_grid .ks_hover_data {
    transform: translateY(-100%) !important;
    z-index: 1;
}
.product-card .fp__info:before,
.oe_product .ks_name_price::before {
    width: 100% !important;
    height: 1px !important;
    }