.ks-gym {
    &-pricing {
        .ks-pricing-img-individual {
            width: 60%;
            background-image: url('/ks_theme_kinetik/static/src/landing-pages-images/gym/plan-1.svg');
        }

        .ks-pricing-img-team {
            width: 60%;
            background-image: url('/ks_theme_kinetik/static/src/landing-pages-images/gym/plan-2.svg');
        }

        .ks-pricing-img-enterprise {
            width: 60%;
            background-image: url('/ks_theme_kinetik/static/src/landing-pages-images/gym/plan-3.svg');
        }
    }
}

.ks-books-shop {
    .carousel-content {
        font {
            text-shadow: -7px 3px 4px rgba(0, 0, 0, 0.2);
        }

        h4 {
           .o_default_snippet_text {
                letter-spacing: 1.5px;
                text-transform: uppercase;
           }
        }
    }

    .carousel-item.active {
        .ks-book-txt-sub {
            animation: bounceInDown 1s ease-in-out forwards;
        }

        .ks-book-txt-main {
            animation: bounceInLeft 1.3s ease-in-out  forwards;
        }

        .ks-book-outer {
            animation: bounceInUp 1.6s ease-in-out forwards;
        }
    }
}

.ks-blog-books {
    .box__shadow {
        box-shadow: none !important;
    }

    .blog_date {
        top: 10px;
        left: 10px;
        right: auto;
        bottom: auto;
        width: 90px;
        height: 90px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        text-align: center;
        padding: 10px;
        line-height: 1.2;
        font-weight: 600;
        background: rgba(255, 255, 255, 0.8);
        z-index: 1;
    }

    .blog_img {
        overflow: hidden;

        img {
            transition: 0.4s ease-in-out;
        }
    }

    .btn-blog-2 {
        padding: 5px;
        border-bottom: 2px solid;
        color: #5f5f5f;
        text-transform: uppercase;
        transition: 0.2s ease-in-out;

        &:hover {
            border-bottom: 2px solid transparent;
            outline: 2px solid;
        }
    }

    .blog__card {
        &:hover {
            cursor: pointer;

            img {
                transform: scale(1.1);
            }
        }
    }
}

.ks-pricing-6 {
    .ks-pricing-img-box {
        margin: -24px;
        margin-bottom: 20px;
        background-size: cover;
        height: 180px;
        position: relative;
    }

    .ks-pricing-value {
        width: 90px;
        height: 90px;
        background: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        position: absolute;
        bottom: -45px;
        margin-left: calc(50% - 45px);
        transition: 0.2s ease-in-out;
    }

    .ks-pricing-heading {
        background: rgba(0, 0, 0, 0.3);
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 40px;
        transition: 0.2s ease-in-out;
    }

    .ks-pricing-card-inner {
        &:hover {
            color: black;

            &:before {
                display: none;
            }

            .ks-pricing-heading {
                background: rgba(0, 0, 0, 0.15);
            }

            .ks-pricing-value {
                color: $primary;
            }

            .text-muted {
                color: #6c757d !important;
            }
        }
    }
}

.ks-quotes-line {
    font-size: 30px;
    display: initial;

    .fa {
        position: absolute;
        opacity: 0.5;
    }

    .fa-quote-left {
        top: 0;
        left: -40px;
    }

    .fa-quote-right {
        bottom: 0;
        right: -40px;
    }
}

.ks-day-quotes {
    @media (min-width: 1025px) {
        margin-top: 120px;
    }
}

.ks-author {
    font-size: 20px;
    margin-top: 10px;
    opacity: 0.8;

    &-img {
       margin-top: -120px;

       @media (max-width: 1024px) {
            margin-top: -25px;
       }

    }
}

.ks-btn-white {
    color: $white;
    border: 2px solid $white;
    transition: 0.3s ease-in-out;
    border-radius: $btn-radius;
    background: transparent;

    &:hover {
        color: $white;
        transform: scale(1.1);
    }
}

.mtt-2 {
    margin-top: 2px;
}

.ks-shine-effect {
    @extend %shine-effect;
}