//$theme-color-primary:#11e59e;
//$hover-text-color: #12611d;
$theme-color-main: $theme-color-primary;
$theme-color-secondry: #ffffff;
$theme-radius: 2px;
$black: #0a0a0a;
$white: #ffffff;
$light-grey: #f7f7f7;
$light-grey2: #C4C4C4;
$dark-grey: #a0a2a7;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$font10: 10px;
$font12 : 12px;
$font14 : 14px;
$font16 : 16px;
$font18 : 18px;
$font20: 20px;
$font24: 24px;
$secondary-theme-color: $theme-color-primary;
$primary: $theme-color-main;
$disabled-color: #818181;


//for footers
$footer-bg: #383838;
$dark-footer-text-color: #fff;
$copyright-bg: #2D2D2B;

//For header 2
$header-2-top-background: #2D2D2B;
$header-2-top-color: #ffffff;

//header-3
$header-3-top-background: #f2f2f2;


//For Header 4
$header-4-top-background: #fff;
$header-4-top-color: #0a0a0a;

//For Header 5
$header-5-top-background: #f2f2f2;

//For Product Table

//for secondary btn
$btn-secondary-bg: #fff;
$btn-secondary-color: #0a0a0a;

$dark-color: #141f1e;