/*KS BLOCK V1*/
.ks-blog {
    .ks-block-height {
        min-height: 100%;
    }
    .blog__card {
        min-height: 100%;
        .read_blog {
        color: $primary;
        text-align: left;

            &:hover {
                color: $black;
            }
        }
        .blog-m-h {
            overflow: hidden;
        }
        @media (max-width: 768px) {
            height: 100%;
        }
    }

}
/*KS BLOCK V2*/
.ks-blog-v2{
    .ks-block-height {
        min-height: 100%;
    }
    .blog__card {
        min-height: 100%;
        padding: 0px !important;
        .read_blog {
        color: $red;
            &:hover {
                color: $black;
            }
        }
        .blog-m-h {
            position: relative;
            overflow: hidden;
            .blog_date {
                position: absolute;
                background: rgba(0, 0, 0, 0.6);
                bottom: 0;
                right: 0;
                padding: 3px 12px;
                font-weight: 400;
                font-size: 16px;
            }
        }
        @media (max-width: 768px) {
            height: 100%;
        }
        .blog_heading {
            text-align: center;
        }
        .blog-sub-heading {
            display:none;
        }
        .blog_text {
            display:none;
        }
        .read-center{
            text-align: center;
            margin-bottom: 16px;
        }
    }
}


/*SLIDER*/
.ks-slider-block {
    .ks-block-height {
        min-height: 100%;
    }
    .blog__card {
        min-height: 100%;
        width: 100%;
        margin-bottom: 20px;

        .read_blog {
        color: $primary;
            &:hover {
                color: $black;
            }
        }
        .blog-m-h {
            overflow: hidden;
        }
        @media (max-width: 768px) {
            height: 100%;
        }
    }
}

